@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
*{
  @apply  scrollbar scrollbar-track-black scrollbar-thumb-white/50 scrollbar-w-[7px] 
}

  .responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  .flexed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .background-img {
    background-image: url('https://i.postimg.cc/9fzg8LR5/background.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .animation-1 {
    @apply animate-fade animate-once animate-duration-1000 animate-ease-linear animate-normal animate-fill-forwards
  }
}